<nav class="navbar navbar-default navbar-material-blue-900 navbar-fixed navbar-fixed-top shadow-z-4" role="navigation">
	<div class="container-fluid">

	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand hidden-lg hidden-md" href="javascript:void(0)">Joseph Kim<div class="ripple-wrapper"></div></a>
	    </div>

	    <div class="navbar-collapse collapse navbar-responsive-collapse">

	        <ul class="nav navbar-nav navbar-right nav-text">
	            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
	            <li><a href="{{ site.baseurl }}/news/index.html">News</a></li>
	            <li><a href="{{ site.baseurl }}/resume/index.html">Resume</a></li>
	            <li><a href="{{ site.baseurl }}/about/index.html">About</a></li>
	        </ul>
	    </div>

	</div>
</nav>