<div class="container-fluid">		
	<div class="navbar navbar-default navbar-material-grey-900 navbar-fixed navbar-fixed-top shadow-z-3" role="navigation">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	    </div>

	    <div class="navbar-collapse collapse navbar-responsive-collapse">
	        <ul class="nav navbar-nav">
	            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
	            <li><a href="{{ site.baseurl }}/news/index.html">News</a></li>
	            <li><a href="{{ site.baseurl }}/resume/index.html">Resume</a></li>
	            <li><a href="{{ site.baseurl }}/projects/index.html">Projects</a></li>
	            <li><a href="{{ site.baseurl }}/about/index.html">About</a></li>
	        </ul>
	    </div>
	</div></div>