<!DOCTYPE html>
<html>
	<header>
		<div class="container-fluid">
			<div class="navbar navbar-default navbar-black navbar-fixed-top">
				<ul class="nav navbar-nav">
					<li>
						<a href="javascript:void(0)">Home</a>
					</li>
					<li>
						<a href="javascript:void(0)">About Me</a>
					</li>
					<li>
						<a href="javascript:void(0)">Projects</a>
					</li>
					<li>
						<a href="javascript:void(0)">Coming Soon</a>
					</li>
					<li>
						<a href="javascript:void(0)">Credits</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
</html>