<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include navbar.html %}

  <body class="body-fixed">
    <div class="container">
      <div class="row">
        <img src="{{ site.baseurl }}/img/profile.jpg" class="img-responsive" alt="Responsive image">
        {{ content }}
      </div>
      <div class="row">
        <div class=" container">
            <h2>TEST</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>

      <div class="row">
        <div class="container">
            <h2>TEST</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>

      <div class="row">
        <div class="container">
            <h2>TEST</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="{{ site.baseurl }}/js/ripples.min.js"></script>
    <script src="{{ site.baseurl }}/js/material.min.js"></script>
    <script>
    $(document).ready(function() {
        $.material.init();
    });
    </script>

  </body>

    {% include footer.html %}



</html>
